[Desktop Entry]
Name=Software Manager
Name[ms]=Pengurus Perisian
Name[hi]=सॉफ्टवेयर प्रबंधक
Name[lb]=Software Manager
Name[sv]=Programhanterare
Name[la]=Software Manager
Name[sq]=Menaxhuesi i Programeve
Name[zh_TW]=軟體管理員
Name[cs]=Správce softwaru
Name[csb]=Menedżera softwôrë
Name[eo]=Programarmastrumilo
Name[id]=Pengelola Perangkat Lunak
Name[tr]=Yazılım Yöneticisi
Name[si]=මෘදුකාංග කළමනාකරනය
Name[kn]=ತಂತ್ರಾಂಶ ವ್ಯವಸ್ಥಾಪಕ
Name[tl]=Tagapamahala ng Software
Name[ml]=സോഫ്റ്റ്‌വേര്‍ മാനേജര്‍
Name[hu]=Szoftverkezelő
Name[en_GB]=Software Manager
Name[ru]=Менеджер программ
Name[he]=מנהל החבילות
Name[kk]=Бағдарламалар менеджері
Name[el]=Διαχειριστής Λογισμικού
Name[bg]=Софтуерен мениджър
Name[ar]=مدير التطبيقات
Name[zh_HK]=軟件管理員
Name[th]=การจัดการ Software
Name[ro]=Administrator programe
Name[pl]=Menedżer oprogramowania
Name[lt]=Programų tvarkyklė
Name[et]=Tarkvara haldur
Name[pa]=ਸਾਫਟਵੇਅਰ ਮੈਨੇਜਰ
Name[sk]=Správca softvéru
Name[eu]=Software-kudeatzailea
Name[te]=సాప్ట్‍వేర్ నిర్వాహకం
Name[bn]=সফটওয়্যার ব্যবস্থাপক
Name[ur]=سوفٹویئر ناظم
Name[sr@latin]=Менаџер програма
Name[ast]=Xestor de software
Name[oc]=Gestionari de logicials
Name[uk]=Менеджер програм
Name[nb]=Programvarebehandler
Name[ko]=소프트웨어 관리자
Name[is]=Hugbúnaðarstjórnun
Name[fi]=Ohjelmistohallinta
Name[zh_CN]=软件管理器
Name[fr]=Gestionnaire de logiciels
Name[lv]=Programmatūras pārvaldnieks
Name[hy]=Ծրագրերի կառավարիչ
Name[pt_PT]=Gestor de programas
Name[fo]=Ritbúnaðar fyristiting
Name[af]=Sagteware Bestuurder
Name[pt]=Gestor de programas
Name[it]=Gestore Applicazioni
Name[ber]=Software Manager
Name[mr]=सॉफ्टवेयर व्यवस्थापक
Name[en_CA]=Software Manager
Name[am]=የሶፍትዌር አስተዳዳሪ
Name[be]=Праграмнае забеспячэнне Менеджэр
Name[gv]=Reireyder Claaghyn
Name[mk]=Менаџер на софтвер
Name[sl]=Upravitelj Programske Opreme
Name[pt_BR]=Gerenciador de Aplicativos
Name[ja]=ソフトウェアの管理
Name[fa]=مدیریت نرم‌افزارها
Name[nn]=Programvarebehandlar
Name[da]=Programhåndtering
Name[nl]=Softwarebeheer
Name[nds]=Software Manager
Name[ca]=Gestor de programari
Name[es]=Gestor de software
Name[cv]=Software Manager
Name[fr_CA]=Gestionnaire de logiciels
Name[en_AU]=Software Manager
Name[sr]=Менаџер програма
Name[vi]=Trình Quản lý Phần mềm
Name[cy]=Rheolwr Meddalwedd
Name[ta]=மென்பொருள் மேலாண்மை
Name[bs]=Menadžer Aplikacija
Name[jv]=Pangelola prangkat-renyah
Name[de]=Softwareverwaltung
Name[gl]=Xestor de software
Name[hr]=Upravitelj softverom
Comment=Install new applications
Comment[ms]=Memasang aplikasi baru
Comment[hi]=नयें कार्यक्रम संस्थापित करें
Comment[lb]=Install new applications
Comment[sv]=Installera nya program
Comment[la]=Install new applications
Comment[sq]=Instalo programe të reja
Comment[zh_TW]=安裝新程式
Comment[cs]=Instalovat nové aplikace
Comment[csb]=Instalëjë nową aplikacëjã
Comment[eo]=Instali novajn aplikaĵojn
Comment[id]=Memasang aplikasi baru
Comment[tr]=Yeni uygulamalar yükle
Comment[si]=නව මෘදුකාංග ස්ථාපනය කෙරන්න
Comment[kn]=ಹೊಸ ಅನ್ವಯಿಕಗಳನ್ನು ಅನುಸ್ಥಾಪಿಸು
Comment[tl]=Mag-install ng mga bagong application
Comment[ml]=പുതിയ അപ്പ്‍ളിക്കേഷന്‍സ് ഇന്‍സ്റ്റാള്‍ ചെയ്യുക
Comment[hu]=Új alkalmazások telepítése
Comment[en_GB]=Install new applications
Comment[ru]=Установить новые приложения
Comment[he]=התקנת יישומים חדשים
Comment[kk]=Жаңа бағдарламаларды орнату
Comment[el]=Εγκατάσταση νέων εφαρμογών
Comment[bg]=Инсталиране на нови приложения
Comment[ar]=تنصيب برامج جديدة
Comment[zh_HK]=安裝新程式
Comment[th]=ติดตั้งโปรแกรมใหม่
Comment[ro]=Instalează aplicaţii noi
Comment[pl]=Zainstaluj nowe programy
Comment[lt]=Diegti naujas programas
Comment[et]=Paigalda uusi rakendusi
Comment[pa]=ਨਵੀਆਂ ਐਪਲੀਕੇਸ਼ਣ ਇੰਸਟਾਲ ਕਰੋ
Comment[sk]=Inštalovať nové aplikácie
Comment[eu]=Instalatu aplikazio berriak
Comment[te]=కొత్త అనువర్తనాలను స్థాపించు
Comment[bn]=নতুন অ্যাপলিকেশন ইনস্টল করুন
Comment[ur]=نئے اطلاقیے نصب کریں
Comment[sr@latin]=Instaliraj novu aplikaciju
Comment[ast]=Instalar nueves aplicaciones
Comment[oc]=Install new applications
Comment[uk]=Встановлення нових програм
Comment[nb]=Installer nye applikasjoner
Comment[ko]=새로운 소프트웨어를 설치합니다
Comment[is]=Setja upp ný forrit
Comment[fi]=Asenna uusia ohjelmia
Comment[zh_CN]=安装新程序
Comment[fr]=Installer de nouvelles applications
Comment[lv]=Uzstādīt jaunas lietotnes
Comment[hy]=Տեղադրել նոր ծրագիր
Comment[pt_PT]=Instalar novas aplicações
Comment[fo]=Legg inn nýggjar nýtsluskipanir
Comment[af]=Installeer nuwe program
Comment[pt]=Instalar novas aplicações
Comment[it]=Installa nuove applicazioni
Comment[ber]=Install new applications
Comment[mr]=नवीन संगणक प्रणाली प्रस्थापित करा
Comment[en_CA]=Install new applications
Comment[am]=አዲስ መተግበሪያዎችን መግጠሚያ
Comment[be]=Ўсталяваць новыя дадатку
Comment[gv]=Cur claaghyn noa 'sy co`earrooder
Comment[mk]=Инсталирај нови апликации
Comment[sl]=Namesti nove aplikacije
Comment[pt_BR]=Instalar novos programas
Comment[ja]=新しいアプリケーションをインストールする
Comment[fa]=نصب برنامه‌های جدید
Comment[nn]=Installer nye program
Comment[da]=Installér nye programmer
Comment[nl]=Nieuwe toepassingen installeren
Comment[nds]=Neue Programme installieren
Comment[ca]=Instal·la noves aplicacions
Comment[es]=Instalar nuevas aplicaciones
Comment[cv]=Install new applications
Comment[fr_CA]=Installer de nouvelles applications
Comment[en_AU]=Install new applications
Comment[sr]=Инсталирај нове програме
Comment[vi]=Cài đặt ứng dụng mới
Comment[cy]=Gosod rhaglenni newydd
Comment[ta]=புதிய பயன்பாடுகளை நிறுவு
Comment[bs]=Instaliraj nove aplikacije
Comment[jv]=Masang aplikasi anyar
Comment[de]=Neue Anwendungen installieren
Comment[gl]=Instalar novos aplicativos
Comment[hr]=Instaliraj nove aplikacije
Exec=pkexec mintinstall
Icon=/usr/lib/linuxmint/mintInstall/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
NotShowIn=KDE;
