[Desktop Entry]
Name=Software Manager
Name[kn]=ತಂತ್ರಾಂಶ ವ್ಯವಸ್ಥಾಪಕ
Name[en_GB]=Software Manager
Name[ko]=소프트웨어 관리자
Name[hr]=Upravitelj softverom
Name[ms]=Pengurus Perisian
Name[nds]=Softwareoppasser
Name[bs]=Menadžer Aplikacija
Name[he]=מנהל החבילות
Name[oc]=Gestionari de logicials
Name[tr]=Yazılım Yöneticisi
Name[fo]=Ritbúnaðar fyristiting
Name[id]=Pengelola Perangkat Lunak
Name[fr]=Gestionnaire de logiciels
Name[ar]=مدير التطبيقات
Name[pl]=Menedżer oprogramowania
Name[sk]=Správca softvéru
Name[bg]=Софтуерен мениджър
Name[es]=Gestor de programas
Name[fa]=مدیریت نرم افزارها
Name[hi]=सॉफ्टवेयर प्रबंधक
Name[vi]=Trình Quản lý Phần mềm
Name[mk]=Менаџер на софтвер
Name[nb]=Programvarebehandler
Name[cs]=Správce softwaru
Name[mr]=सॉफ्टवेयर व्यवस्थापक
Name[is]=Hugbúnaðarstjórnun
Name[eu]=Sofware Gestorea
Name[hy]=Software Manager
Name[sl]=Upravitelj Programske Opreme
Name[fi]=Ohjelmistohallinta
Name[lb]=Software Manager
Name[pt]=Gestor de Software
Name[sr]=Menadžer softvera
Name[af]=Sagteware Bestuurder
Name[uk]=Менеджер програм
Name[am]=የሶፍትዌር አስተዳዳሪ
Name[lv]=Programmatūras pārvaldnieks
Name[et]=Tarkvarahaldur
Name[ta]=மென்பொருள்மேலாளர்
Name[pt_PT]=Gestor de Software
Name[ast]=Xestor de software
Name[csb]=Menedżera softwôrë
Name[ru]=Менеджер программ
Name[zh_TW]=軟體管理員
Name[ja]=ソフトウェアの管理
Name[ca]=Gestor de programari
Name[th]=การจัดการ Software
Name[ur]=سوفٹویئر ناظم
Name[en_AU]=Software Manager
Name[bn]=সফটওয়্যার ব্যবস্থাপক
Name[zh_CN]=软件管理器
Name[nl]=Softwarebeheer
Name[el]=Διαχειριστής Λογισμικού
Name[it]=Gestore Applicazioni
Name[be]=Праграмнае забеспячэнне Менеджэр
Name[sv]=Programhanterare
Name[da]=Programhåndtering
Name[de]=Softwareverwaltung
Name[sq]=Menaxhuesi i Programeve
Name[ml]=സോഫ്റ്റ്‌വേര്‍ മാനേജര്‍
Name[nn]=Programvarebehandlar
Name[kk]=Бағдарламалар менеджері
Name[lt]=Programų tvarkyklė
Name[pt_BR]=Gerenciador de Programas
Name[hu]=Szoftverkezelő
Name[eo]=Software Manager
Name[ro]=Manager de programe
Name[zh_HK]=軟件管理員
Name[gl]=Xestor de software
Comment=Install new applications
Comment[kn]=ಹೊಸ ಅನ್ವಯಿಕಗಳನ್ನು ಅನುಸ್ಥಾಪಿಸು
Comment[en_GB]=Install new applications
Comment[ko]=새로운 소프트웨어를 설치합니다
Comment[hr]=Instaliraj nove aplikacije
Comment[ms]=Memasang aplikasi baru
Comment[nds]=Neje Programme installeren
Comment[bs]=Instaliraj nove aplikacije
Comment[he]=התקנת יישומים חדשים
Comment[oc]=Install new applications
Comment[tr]=Yeni uygulamalar yükle
Comment[fo]=Legg inn nýggjar nýtsluskipanir
Comment[id]=Memasang aplikasi baru
Comment[fr]=Installer de nouvelles applications
Comment[ar]=تنصيب برامج جديدة
Comment[pl]=Zainstaluj nowe programy
Comment[sk]=Inštalovať nové aplikácie
Comment[bg]=Инсталиране на нови приложения
Comment[es]=Instalar nuevas aplicaciones
Comment[fa]=نصب برنامه های جدید
Comment[hi]=नयें कार्यक्रम संस्थापित करें
Comment[vi]=Cài đặt ứng dụng mới
Comment[mk]=Инсталирај нови апликации
Comment[nb]=Installer nye applikasjoner
Comment[cs]=Instalovat nové aplikace
Comment[mr]=नवीन कार्यक्रम प्रतिष्ठापित करा
Comment[is]=Setja upp ný forrit
Comment[eu]=Aplikazio berriak instalatu
Comment[hy]=Տեղադրել նոր ծրագիր
Comment[sl]=Namesti nove aplikacije
Comment[fi]=Asenna uusia ohjelmia
Comment[lb]=Install new applications
Comment[pt]=Instalar novas aplicações
Comment[sr]=Instaliraj nove aplikacije
Comment[af]=Installeer nuwe program
Comment[uk]=Встановлення нових програм
Comment[am]=አዲስ መተግበሪያዎችን መግጠም
Comment[lv]=Uzstādīt jaunas lietotnes
Comment[et]=Paigalda uusi rakendusi
Comment[ta]=புதிய பயன்பாடுகளை நிறுவு
Comment[pt_PT]=Instalar novas aplicações
Comment[ast]=Instalar nueves aplicaciones
Comment[csb]=Instalëjë nową aplikacëjã
Comment[ru]=Установить новые приложения
Comment[zh_TW]=安裝新程式
Comment[ja]=新しいアプリケーションをインストールする
Comment[ca]=Instal·la noves aplicacions
Comment[th]=ติดตั้งโปรแกรมใหม่
Comment[ur]=نئے اطلاقیے نصب کریں
Comment[en_AU]=Install new applications
Comment[bn]=নতুন অ্যাপলিকেশন ইনস্টল করুন
Comment[zh_CN]=安装新程序
Comment[nl]=Nieuwe toepassingen installeren
Comment[el]=Εγκατάσταση νέων εφαρμογών
Comment[it]=Installa nuove applicazioni
Comment[be]=Ўсталяваць новыя дадатку
Comment[sv]=Installera nya program
Comment[da]=Installér nye programmer
Comment[de]=Neue Anwendungen installieren
Comment[sq]=Instalo programe të reja
Comment[ml]=പുതിയ അപ്പ്‍ളിക്കേഷന്‍സ് ഇന്‍സ്റ്റാള്‍ ചെയ്യുക
Comment[nn]=Installer nye program
Comment[kk]=Жаңа бағдарламаларды орнату
Comment[lt]=Diegti naujas programas
Comment[pt_BR]=Instalar novos aplicativos
Comment[hu]=Új alkalmazások telepítése
Comment[eo]=Install new applications
Comment[ro]=Instalează aplicaţii noi
Comment[zh_HK]=安裝新程式
Comment[gl]=Instalar novos aplicativos
Exec=mintinstall
Icon=/usr/lib/linuxmint/mintInstall/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
