[Desktop Entry]
Name=mintInstall
GenericName=Software Manager
GenericName[fr]=Gestionnaire d'Applications
Comment=Install new applications
Comment[fr]=Installez de nouvelles applications
Exec=mintInstall
Icon=/usr/share/linuxmint/logo.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
NoDisplay=true
MimeType=application/x-mint;

