[Desktop Entry]
Name=Software Manager
Name[af]=Sagteware Bestuurder
Name[am]=የሶፍትዌር አስተዳዳሪ
Name[ar]=مدير التطبيقات
Name[ast]=Xestor de software
Name[be]=Кіраўнік праграм
Name[be@latin]=Кіраўнік праграм
Name[bg]=Софтуерен мениджър
Name[bn]=সফটওয়্যার ব্যবস্থাপক
Name[bn_IN]=সফটওয়্যার ব্যবস্থাপক
Name[bs]=Upravljanje aplikacijama
Name[ca]=Gestor de programari
Name[ca@valencia]=Gestor de programes
Name[cs]=Správce softwaru
Name[csb]=Menedżera softwôrë
Name[cy]=Rheolwr Meddalwedd
Name[da]=Programhåndtering
Name[de]=Anwendungsverwaltung
Name[el]=Διαχειριστής Λογισμικού
Name[eo]=Programarmastrumilo
Name[es]=Gestor de software
Name[es_AR]=Gestor de software
Name[et]=Tarkvarahaldur
Name[eu]=Software-kudeatzailea
Name[fa]=مدیریت نرم‌افزارها
Name[fi]=Ohjelmistohallinta
Name[fo]=Ritbúnaðar fyristiting
Name[fr]=Gestionnaire de logiciels
Name[fr_CA]=Gestionnaire de logiciels
Name[ga]=Bainisteoir bogearraí
Name[gd]=Manaidsear bathar-bog
Name[gl]=Xestor de software
Name[gv]=Reireyder Claaghyn
Name[he]=מנהל החבילות
Name[hi]=सॉफ्टवेयर प्रबंधक
Name[hr]=Upravitelj softvera
Name[hu]=Szoftverkezelő
Name[hy]=Ծրագրերի կառավարիչ
Name[id]=Pengelola Perangkat Lunak
Name[is]=Hugbúnaðarstjórnun
Name[it]=Gestore Applicazioni
Name[ja]=ソフトウェアの管理
Name[jv]=Pangelola prangkat-renyah
Name[kk]=Бағдарламалар менеджері
Name[kn]=ತಂತ್ರಾಂಶ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=소프트웨어 관리자
Name[ky]=Программа менеджери
Name[lt]=Programų tvarkyklė
Name[lv]=Programmatūras pārvaldnieks
Name[mg]=Mpikirakira rindrankajy
Name[mk]=Менаџер на софтвер
Name[ml]=സോഫ്റ്റ്‌വേർ മാനേജർ
Name[mr]=सॉफ्टवेयर व्यवस्थापक
Name[ms]=Pengurus Perisian
Name[nb]=Programvarebehandler
Name[ne]=सफ्टवेयर प्रबन्धक
Name[nl]=Softwarebeheer
Name[nn]=Programvarebehandlar
Name[oc]=Gestionari de logicials
Name[om]=Bulchiinsa furguugaa
Name[pa]=ਸਾਫਟਵੇਅਰ ਮੈਨੇਜਰ
Name[pl]=Menedżer oprogramowania
Name[pt]=Gestor de Programas
Name[pt_BR]=Gerenciador de Aplicativos
Name[pt_PT]=Gestor de Programas
Name[ro]=Administrator programe
Name[ru]=Менеджер программ
Name[si]=මෘදුකාංග කළමනාකරනය
Name[sk]=Správca softvéru
Name[sl]=Upravljalnik programske opreme
Name[so]=Agaasimaha softwieerka
Name[sq]=Menaxhuesi i Programeve
Name[sr]=Менаџер програма
Name[sr@ijekavianlatin]=Менаџер програма
Name[sr@latin]=Menadžer programa
Name[sv]=Programhanterare
Name[ta]=மென்பொருள் மேலாண்மை
Name[te]=సాప్ట్‍వేర్ నిర్వాహకం
Name[tg]=Мудири нармафзор
Name[th]=การจัดการ Software
Name[tl]=Tagapamahala ng Software
Name[tr]=Yazılım Yöneticisi
Name[uk]=Менеджер програм
Name[ur]=سوفٹویئر ناظم
Name[vi]=Trình Quản lý Phần mềm
Name[zh_CN]=软件管理器
Name[zh_HK]=軟件管理員
Name[zh_TW]=軟體管理員
Comment=Install new applications
Comment[af]=Installeer nuwe program
Comment[am]=አዲስ መተግበሪያዎችን መግጠሚያ
Comment[ar]=تنصيب برامج جديدة
Comment[ast]=Instalar nueves aplicaciones
Comment[be]=Усталяваць новыя праграмы
Comment[be@latin]=Усталяваць новыя праграмы
Comment[bg]=Инсталиране на нови приложения
Comment[bn]=নতুন অ্যাপলিকেশন ইনস্টল করুন
Comment[bn_IN]=নতুন অ্যাপলিকেশন ইনস্টল করুন
Comment[bs]=Instaliraj nove aplikacije
Comment[ca]=Instal·la noves aplicacions
Comment[ca@valencia]=Instal·lar nous programes
Comment[cs]=Instalovat nové aplikace
Comment[csb]=Instalëjë nową aplikacëjã
Comment[cy]=Gosod rhaglenni newydd
Comment[da]=Installér nye programmer
Comment[de]=Neue Anwendungen installieren
Comment[el]=Εγκατάσταση νέων εφαρμογών
Comment[eo]=Instali novajn aplikaĵojn
Comment[es]=Instalar nuevas aplicaciones
Comment[es_AR]=Instalar nuevas aplicaciones
Comment[et]=Paigalda uusi rakendusi
Comment[eu]=Instalatu aplikazio berriak
Comment[fa]=نصب برنامه‌های جدید
Comment[fi]=Asenna uusia ohjelmia
Comment[fo]=Legg inn nýggjar nýtsluskipanir
Comment[fr]=Installer de nouvelles applications
Comment[fr_CA]=Installer de nouvelles applications
Comment[ga]=Suiteáil feidhmchláir nua
Comment[gd]=Stàlaich aplacaidean ùra
Comment[gl]=Instalar novos aplicativos
Comment[gv]=Cur claaghyn noa 'sy co`earrooder
Comment[he]=התקנת יישומים חדשים
Comment[hi]=नयें कार्यक्रम संस्थापित करें
Comment[hr]=Instaliraj nove aplikacije
Comment[hu]=Új alkalmazások telepítése
Comment[hy]=Տեղադրել նոր ծրագիր
Comment[id]=Memasang aplikasi baru
Comment[is]=Setja upp ný forrit
Comment[it]=Installa nuove applicazioni
Comment[ja]=新しいアプリケーションをインストール
Comment[jv]=Masang aplikasi anyar
Comment[ka]=ახალი აპლიკაციების დაყენება
Comment[kk]=Жаңа бағдарламаларды орнату
Comment[kn]=ಹೊಸ ಅನ್ವಯಿಕಗಳನ್ನು ಅನುಸ್ಥಾಪಿಸು
Comment[ko]=새로운 소프트웨어를 설치합니다
Comment[ky]=Жаңы тиркемелерди орнотуу
Comment[lt]=Diegti naujas programas
Comment[lv]=Uzstādīt jaunas lietotnes
Comment[mg]=Hanampy rindrankajy vaovao
Comment[mk]=Инсталирај нови апликации
Comment[ml]=പുതിയ ആപ്ലിക്കേഷനുകൾ ഇൻസ്റ്റോൾ ചെയ്യുക
Comment[mr]=नवीन संगणक प्रणाली प्रस्थापित करा
Comment[ms]=Memasang aplikasi baru
Comment[nb]=Installer nye applikasjoner
Comment[nds]=Neue Programme installieren
Comment[ne]=नयाँ अनुप्रयोग  स्थापना गर्नुहोस्
Comment[nl]=Nieuwe toepassingen installeren
Comment[nn]=Installer nye program
Comment[oc]=Installar d'aplicacions novèlas
Comment[om]=Dhimbaaftota haaraa dhaabi
Comment[pa]=ਨਵੀਆਂ ਐਪਲੀਕੇਸ਼ਣ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Zainstaluj nowe programy
Comment[pt]=Instalar novas aplicações
Comment[pt_BR]=Instalar novos programas
Comment[pt_PT]=Instalar novas aplicações
Comment[ro]=Instalează aplicaţii noi
Comment[ru]=Установить новые приложения
Comment[si]=නව මෘදුකාංග ස්ථාපනය කරන්න
Comment[sk]=Inštalovať nové aplikácie
Comment[sl]=Namesti nove programe
Comment[so]=Shub baraamijyo cusub
Comment[sq]=Instalo programe të reja
Comment[sr]=Инсталирај нове програме
Comment[sr@ijekavianlatin]=Инсталирај нове програме
Comment[sr@latin]=Instaliraj nove programe
Comment[sv]=Installera nya program
Comment[ta]=புதிய பயன்பாடுகளை நிறுவு
Comment[te]=కొత్త అనువర్తనాలను స్థాపించు
Comment[tg]=Насб кардани барномаҳои нав
Comment[th]=ติดตั้งโปรแกรมใหม่
Comment[tl]=Mag-install ng mga bagong application
Comment[tr]=Yeni uygulamalar yükle
Comment[uk]=Встановлення нових програм
Comment[ur]=نئے اطلاقیے نصب کریں
Comment[vi]=Cài đặt ứng dụng mới
Comment[zh_CN]=安装新程序
Comment[zh_HK]=安裝新程式
Comment[zh_TW]=安裝新程式
GenericName=Install new applications
GenericName[af]=Installeer nuwe program
GenericName[am]=አዲስ መተግበሪያዎችን መግጠሚያ
GenericName[ar]=تنصيب برامج جديدة
GenericName[ast]=Instalar nueves aplicaciones
GenericName[be]=Усталяваць новыя праграмы
GenericName[be@latin]=Усталяваць новыя праграмы
GenericName[bg]=Инсталиране на нови приложения
GenericName[bn]=নতুন অ্যাপলিকেশন ইনস্টল করুন
GenericName[bn_IN]=নতুন অ্যাপলিকেশন ইনস্টল করুন
GenericName[bs]=Instaliraj nove aplikacije
GenericName[ca]=Instal·la noves aplicacions
GenericName[ca@valencia]=Instal·lar nous programes
GenericName[cs]=Instalovat nové aplikace
GenericName[csb]=Instalëjë nową aplikacëjã
GenericName[cy]=Gosod rhaglenni newydd
GenericName[da]=Installér nye programmer
GenericName[de]=Neue Anwendungen installieren
GenericName[el]=Εγκατάσταση νέων εφαρμογών
GenericName[eo]=Instali novajn aplikaĵojn
GenericName[es]=Instalar nuevas aplicaciones
GenericName[es_AR]=Instalar nuevas aplicaciones
GenericName[et]=Paigalda uusi rakendusi
GenericName[eu]=Instalatu aplikazio berriak
GenericName[fa]=نصب برنامه‌های جدید
GenericName[fi]=Asenna uusia ohjelmia
GenericName[fo]=Legg inn nýggjar nýtsluskipanir
GenericName[fr]=Installer de nouvelles applications
GenericName[fr_CA]=Installer de nouvelles applications
GenericName[ga]=Suiteáil feidhmchláir nua
GenericName[gd]=Stàlaich aplacaidean ùra
GenericName[gl]=Instalar novos aplicativos
GenericName[gv]=Cur claaghyn noa 'sy co`earrooder
GenericName[he]=התקנת יישומים חדשים
GenericName[hi]=नयें कार्यक्रम संस्थापित करें
GenericName[hr]=Instaliraj nove aplikacije
GenericName[hu]=Új alkalmazások telepítése
GenericName[hy]=Տեղադրել նոր ծրագիր
GenericName[id]=Memasang aplikasi baru
GenericName[is]=Setja upp ný forrit
GenericName[it]=Installa nuove applicazioni
GenericName[ja]=新しいアプリケーションをインストール
GenericName[jv]=Masang aplikasi anyar
GenericName[ka]=ახალი აპლიკაციების დაყენება
GenericName[kk]=Жаңа бағдарламаларды орнату
GenericName[kn]=ಹೊಸ ಅನ್ವಯಿಕಗಳನ್ನು ಅನುಸ್ಥಾಪಿಸು
GenericName[ko]=새로운 소프트웨어를 설치합니다
GenericName[ky]=Жаңы тиркемелерди орнотуу
GenericName[lt]=Diegti naujas programas
GenericName[lv]=Uzstādīt jaunas lietotnes
GenericName[mg]=Hanampy rindrankajy vaovao
GenericName[mk]=Инсталирај нови апликации
GenericName[ml]=പുതിയ ആപ്ലിക്കേഷനുകൾ ഇൻസ്റ്റോൾ ചെയ്യുക
GenericName[mr]=नवीन संगणक प्रणाली प्रस्थापित करा
GenericName[ms]=Memasang aplikasi baru
GenericName[nb]=Installer nye applikasjoner
GenericName[nds]=Neue Programme installieren
GenericName[ne]=नयाँ अनुप्रयोग  स्थापना गर्नुहोस्
GenericName[nl]=Nieuwe toepassingen installeren
GenericName[nn]=Installer nye program
GenericName[oc]=Installar d'aplicacions novèlas
GenericName[om]=Dhimbaaftota haaraa dhaabi
GenericName[pa]=ਨਵੀਆਂ ਐਪਲੀਕੇਸ਼ਣ ਇੰਸਟਾਲ ਕਰੋ
GenericName[pl]=Zainstaluj nowe programy
GenericName[pt]=Instalar novas aplicações
GenericName[pt_BR]=Instalar novos programas
GenericName[pt_PT]=Instalar novas aplicações
GenericName[ro]=Instalează aplicaţii noi
GenericName[ru]=Установить новые приложения
GenericName[si]=නව මෘදුකාංග ස්ථාපනය කරන්න
GenericName[sk]=Inštalovať nové aplikácie
GenericName[sl]=Namesti nove programe
GenericName[so]=Shub baraamijyo cusub
GenericName[sq]=Instalo programe të reja
GenericName[sr]=Инсталирај нове програме
GenericName[sr@ijekavianlatin]=Инсталирај нове програме
GenericName[sr@latin]=Instaliraj nove programe
GenericName[sv]=Installera nya program
GenericName[ta]=புதிய பயன்பாடுகளை நிறுவு
GenericName[te]=కొత్త అనువర్తనాలను స్థాపించు
GenericName[tg]=Насб кардани барномаҳои нав
GenericName[th]=ติดตั้งโปรแกรมใหม่
GenericName[tl]=Mag-install ng mga bagong application
GenericName[tr]=Yeni uygulamalar yükle
GenericName[uk]=Встановлення нових програм
GenericName[ur]=نئے اطلاقیے نصب کریں
GenericName[vi]=Cài đặt ứng dụng mới
GenericName[zh_CN]=安装新程序
GenericName[zh_HK]=安裝新程式
GenericName[zh_TW]=安裝新程式
Exec=kdesudo -i /usr/share/icons/hicolors/48x48/apps/software-properties-mint.png -d --comment "<b>Please enter your password to start the software manager</b>" mintinstall
Icon=software-properties-mint
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
OnlyShowIn=KDE;
