[Desktop Entry]
Name=Software Manager
Name[csb]=Menedżera softwôrë
Name[fr]=Gestionnaire de Logiciel
Name[cs]=Správce softwaru
Name[pt]=Gestor de Software
Name[fo]=Ritbúnaðar Leiðari
Name[nb]=Programvarebehandler
Name[ar]=مدير التطبيقات
Name[ro]=Manager Programe
Name[ast]=Xestor de software
Name[gl]=Xestor de software
Name[ja]=ソフトウェア管理
Name[he]=מנהל החבילות
Name[sr]=Менаџер програма
Name[pl]=Menedżer oprogramowania
Name[lt]=Programų administratorius
Name[ru]=Менеджер программного обеспечения
Name[hu]=Szoftverkezelő
Name[fi]=Ohjelmisto manageri
Name[de]=Paketverwaltung
Name[el]=Διαχειριστής Λογισμικού
Name[zh_CN]=软件管理器
Name[en_GB]=Software Manager
Name[am]=የሶፍትዌር አስተዳዳሪ
Name[zh_HK]=Software Manager
Name[es]=Gestor de software
Name[tr]=Yazılım Yöneticisi
Name[bg]=Софтуерен мениджър
Name[ko]=소프트웨어 관리자
Name[mr]=सॉफ्टवेयर व्यवस्थापक
Name[nl]=Softwarebeheer
Name[et]=Tarkvara haldur
Name[zh_TW]=Software Manager
Name[sk]=Správca softvéru
Name[pt_BR]=Gerenciador de Software
Name[is]=Hugbúnaðarstjórnun
Name[sv]=Programvaruhanterare
Name[hi]=सॉफ्टवेयर प्रबंधक
Name[sq]=Menaxhuesi i Programeve
Name[it]=Software Manager
Name[hr]=Programski Menager
Name[uk]=Менеджер програмного забеспечення
Name[da]=Programhåndtering
Comment=Install new applications
Comment[csb]=Instalëjë nową aplikacëjã
Comment[fr]=Installer de nouvelles applications
Comment[cs]=Instalovat nové aplikace
Comment[pt]=Instalar novas aplicações
Comment[fo]=Legg inn nýggjar nýtsluskipanir
Comment[nb]=Installer nye applikasjoner
Comment[ar]=تنصيب برامج جديدة
Comment[ro]=Instalaţi programe noi
Comment[ast]=Instalar nueves aplicaciones
Comment[gl]=Instalar novos aplicativos
Comment[ja]=Install new applications
Comment[he]=התקנת יישומים חדשים
Comment[sr]=Инсталирај нове програме
Comment[pl]=Zainstaluj nowe aplikacje
Comment[lt]=Įdiegti naujas programas
Comment[ru]=Установка новых приложений
Comment[hu]=Új alkalmazások telepítése
Comment[fi]=Asenna uusi ohjelma
Comment[de]=Neue Anwendungen installieren
Comment[el]=Εγκατάσταση νέων εφαρμογών
Comment[zh_CN]=安装新程序
Comment[en_GB]=Install new applications
Comment[am]=አዲስ መተግበሪያዎችን መግጠም
Comment[zh_HK]=安裝新程式
Comment[es]=Instalar nuevas aplicaciones
Comment[tr]=Yeni uygulamalar yükle
Comment[bg]=Инсталиране на нови приложения
Comment[ko]=새로운 소프트웨어 설치
Comment[mr]=नवीन कार्यक्रम प्रतिष्ठापित करा
Comment[nl]=Nieuwe programma's installeren
Comment[et]=Paigalda uus rakendsu
Comment[zh_TW]=安裝新程式
Comment[sk]=Inštalovať nové aplikácie
Comment[pt_BR]=Instalar novos aplicativos
Comment[is]=Setja upp ný forrit
Comment[sv]=Installera nya program
Comment[hi]=नयें कार्यक्रम संस्थापित करें
Comment[sq]=Instalo programe të reja
Comment[it]=Installa nuove applicazioni
Comment[hr]=Instaliraj novu aplikaciju
Comment[uk]=Встановити нові програми
Comment[da]=Installér nye programmer
Exec=mintinstall
Icon=/usr/lib/linuxmint/mintInstall/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
